.card {
  /* size and shape */
  width: 10rem;
  border-radius: 1rem;
  flex-shrink: 0;
  padding: 1rem;

  /* handle card contents */
  display: flex;
  flex-direction: column;
  gap: 0;
}

.card > img {
  width: 5rem;
  height: 5rem;
  align-self: center;
  margin-bottom: 1rem;
}

.card > h1 {
  margin: 0 0 1rem;
}

.card > p {
  color: var(--color-gray);
  margin: 0;
}