.button {
  /* font */
  font-size: var(--font-size-normal);

  /* size and shape */
  padding: 1em 2em;
  border-radius: 1.5em;

  /* cursor */
  cursor: pointer;
}

/* color schemes */
.buttonWhite {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-white);
}
.buttonPrimary {
  border: none;
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* flip color schemes on hover */
.buttonWhite:hover {
  border: none;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.buttonPrimary:hover {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-white);
}