.blog {
  /* distance from next section */
  margin-bottom: 4rem;

  /* center children h1 and button */
  text-align: center;
}

.blog > hr {
  border: 0.08rem solid black;
  border-radius: 0.1rem;
  width: 3rem;
}

.blog > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  /* distance from button at the end */
  margin-bottom: 1rem;
}