*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
}

:root {
  --color-primary: blue;
  --color-secondary: lightblue;
  --color-white: white;
  --color-black: black;
  --color-gray: gray;

  --font-size-normal: clamp(16px, 5vw, 32px);
  --font-size-big: 1.2rem;
  font-size: var(--font-size-normal);

  --font-weight-bold: 700;
  --font-weight-normal: 400;
  font-weight: var(--font-weight-normal);
}

body {
  padding: 1.2rem 1.2rem 0;
  margin: 0;
}

h1 {
  font-size: var(--font-size-big);
}