*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
}

:root {
  --color-primary: blue;
  --color-secondary: lightblue;
  --color-white: white;
  --color-black: black;
  --color-gray: gray;

  /* TODO: set font sizes relative to screen? */
  --font-size-big: 50px;
  --font-size-normal: 46px;
  font-size: var(--font-size-normal);

  --font-weight-bold: 700;
  --font-weight-normal: 400;
  font-weight: var(--font-weight-normal);
}

body {
  padding: 1rem;
}

h1 {
  font-size: var(--font-size-big);
}