*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
}

:root {
  --color-primary: blue;
  --color-secondary: lightblue;
  --color-white: white;
  --color-black: black;
  --color-gray: gray;

  --font-size-big: 58px;
  --font-size-normal: 46px;

  --font-weight-bold: 700;
  --font-weight-normal: 400;
}
